.pageContainer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trackDiv {
    height: 40vh;
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: clamp(16px, calc(12.308px + 0.513vw), 32px);
    border-radius: clamp(10px, calc(7.727px + 0.71vw), 35px);
    gap: clamp(12px, calc(10.182px + 0.568vw), 32px);
}



.mainDiv {
    display: flex;
    align-items: center;
    height: 50vh;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    min-width: 250px;
    z-index: 1;
}

.mainDiv::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background: radial-gradient(circle,
            rgba(124, 58, 237, 0.10) 0%,
            rgba(18, 18, 18, 0) 70%);
    filter: blur(40px);
    pointer-events: none;
    z-index: -1;
}

.inputLabel {
    font-size: clamp(1.38rem, calc(1.227rem + 0.739vw), 3.00rem);
    margin: 0;
    text-align: center;
    color: white;
}

.trackInput {
    height: clamp(1rem, 2rem, 6rem);
    width: 80%;
    max-width: 400px;
    border: 2px solid white;
    background-color: #171717;
    color: white;
    border-radius: clamp(3px, 6px, 15px);
}

.trackInput:focus {
    outline: none;
}

.trackButton {
    font-size: clamp(1.00rem, calc(0.909rem + 0.455vw), 2.00rem);
    font-weight: bold;
    border-style: none;
    background-color: #7C3AED;
    border-radius: clamp(0.5rem, 1rem, 5rem);
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding: clamp(13px, calc(11.273px + 0.54vw), 32px);
    white-space: nowrap;
}

.trackButton:hover {
    background-color: #6D28D9;
    border-color: #6D28D9;
}

.utils {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(5px, calc(2.545px + 0.767vw), 32px);
}

.trackInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: clamp(10px, calc(8px + 0.625vw), 32px);
}

.trackInfo> :nth-child(1) {
    margin: 0 auto;
}

.trackInfo> :nth-child(4) {
    margin: 0 auto;
}

.trackInfo> :nth-child(2) {
    font-size: clamp(1rem, 2.5rem, 10rem);
    font-weight: bold;
}

.trackInfo> :nth-child(5) {
    font-size: clamp(1rem, 2.5rem, 10rem);
    font-weight: bold;
}

.homeButton1 {
    border: 1px solid white;
    background: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-size: clamp(1.00rem, calc(0.909rem + 0.455vw), 2.00rem);
    font-weight: bold;
    border-radius: clamp(0.5rem, 1rem, 5rem);
    color: white;
    transition: all 0.2s ease-in-out;
    padding: clamp(13px, calc(11.273px + 0.54vw), 32px);
    white-space: nowrap;
}

.logo {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    width: clamp(6.25rem, calc(4.545rem + 8.523vw), 15rem);
    height: auto;
}

.homeButton1:hover {
    border-color: #6D28D9;
    background-color: #6D28D9;
}

.trackInfo>p:nth-child(1) {
    font-size: clamp(1.00rem, calc(0.636rem + 1.818vw), 2.00rem);
}

.trackInfo>p:nth-child(4) {
    font-size: clamp(1.00rem, calc(0.636rem + 1.818vw), 2.00rem);
}

@media screen and (max-width:670px) {
    .trackDiv {
        border: none;
        background: none;
        box-shadow: none;
    }
}